#dashboard_slot { cursor: default; }
#dashboard_slot * { font-size: 24px; }
#dashboard>* { margin: 5px; line-height: 40px; }
#dashboard h1 { float: left; width: auto; padding-right: 5px; border-right: 1px dotted #444; }
#dashboard h2 { float: left; }
#dashboard_user { float: right; }

#Users_avatar_tool .Users_avatar_name { text-indent: 5px; }

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	select:focus, textarea:focus, input:focus {
		font-size: 16px;
		background: #eee;
	}
}