#Common ignores
.DS_Store
.idea/

#Ignore symlinks
web/plugins/*

#Ignore local environment directories
files/*
local/*

#Ignore stuff like wordpress
web/blog/*

#Ignore google and yahoo verification files

#Unignore .dir files
!*.dir
