<div id="Streams_complete_overlay" class="Users_login_dialog">
	<div class="title_slot">
		<h2 class="Users_dialog_title Q_dialog_title">{{title}}</h2>
	</div>
	<div class="dialog_slot Q_dialog_content">
		<form method="post">
			<div class="Streams_login_appear">
				<table>
					{{#user}}
					<tr class="Streams_login_picture Streams_complete_user">
						<td><img src="{{icon}}" title="{{name}}"></td>
						<td><div>{{name}}</div><div>{{text}}</div></td>
					</tr>
					{{/user}}
					{{#stream}}
					<tr  class="Streams_login_picture Streams_complete_item">
						<td><img src="{{icon}}" title="{{title}}"></td>
						<td><div>{{title}}</div><div>{{text}}</div></td>
					</tr>
					{{/stream}}
					{{^displayName}}
						<tr>
							<td class="Streams_login_picture"><img src="{{icon}}"></td>
							<td class="Streams_login_username_block">
								<input id="Streams_login_username" name="fullName" type="text" class="text" />
							</td>
						</tr>
					{{/displayName}}
				</table>
			</div>
			<input type="hidden" name="token" value="{{token}}"/>
			<input type="hidden" name="Q.method" value="get"/>
			<div class="Streams_login_get_started">&nbsp;
				<button type="submit" class="Q_button Q_main_button Streams_login_start">{{button}}</button>
			</div>
		</form>
	</div>
</div>
